.editor-container.fullpage .editor-unsaved {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  background-color: var(--color-warn);
  padding: 0.5em;
}
.editor-menu button[name="bold"] { font-weight: bold }
.editor-menu button[name="italic"] { font-style: italic }
.editor-menu button[name="underline"] { text-decoration: underline }
.editor-menu button[name="strike"] { text-decoration: line-through }
body {
  /* Ensures that there is enough padding for the save banner */
  padding-bottom: 5rem;
}

.editor-container.embedded {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
.editor-container.embedded .html-editor[name="editor"] [contenteditable] {
  padding: 0.5rem;
  border: solid thin black;
  border-radius: 0.2rem;
}
.editor-container.embedded .editor-unsaved .unsaved-message {
  display: none;
}
.editor-container.embedded article.editor {
  flex: 1 1 auto;
}
.editor-container.embedded .editor-unsaved {
  flex: 0 0 auto;
  width: unset;
}
